*{
    box-sizing: boxer-box ;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: powderblue;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-items: space-between;
    align-items: center;
    background-color: rgb(31, 110, 134);
}

.cabecalho-link{
    background-color: aliceblue;
    text-decoration: none;
}

.cartao {
    width: 260px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1000px;
}

footer{
    background-color: rgb(153, 197, 184);
    padding: 15px 25px;
    color: rgb(48, 93, 129);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(35, 194, 194);
    font-size: 24px;
}

h2{
    color: rgb(33, 201, 201);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cartao-imagem{
    width: 20%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
}

.cartao-interno{
    position: relative;
    width: 50%;
    height: 50%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao-frente,
.cartao-verso {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(31, 110, 134, 0.342);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: aliceblue;
}

.cartao-verso{
    transform: rotateY(180deg);
}

.cartao:hover .cartao-interno{
    transform: rotateY(180deg);
}

.cartao-frente p,

section{
    display: flex;
    gap: 16px;
}