*{
    box-sizing: boxer-box ;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: powderblue;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-items: space-between;
    align-items: center;
    background-color: rgb(31, 110, 134);
}

.cabecalho-link{
    background-color: aliceblue;
    text-decoration: none;
}

.cartao {
    width: 260px;
    height: 200px;
}

main {
    flex: 1;
}
.cartao-imagem{
    width: 20%;
}